.submit{
  background: #06d6a0;
  font-family: monospace;
  font-size: 1.1rem;
  color: #fff;
  font-weight: 400;
}
.sign-Up{
    font-family: monospace;
    font-size: 1.1rem;
    color: #000;
    font-weight: 400;
}
.sign-Up:hover{
    background: #06d6a0;
    font-family: monospace;
    font-size: 1.1rem;
    color: #fff;
    font-weight: 400;
    transition: 0.6s;
 
  }

HTML SCSSResult Skip Results Iframe
:root {
  --color-1: #f8ffe5;
  --color-2: #06d6a0;
  --color-3: #1b9aaa;
  --color-4: #ef476f;
  --color-5: #ffc43d;

  --color-6: #10110f;

  --color-1-half: color-mix(in lab, var(--color-1), transparent);
  --color-2-half: color-mix(in lab, var(--color-2), transparent);
  --color-3-half: color-mix(in lab, var(--color-3), transparent);
  --color-4-half: color-mix(in lab, var(--color-4), transparent);
  --color-5-half: color-mix(in lab, var(--color-5), transparent);

  --color-6-half: color-mix(in lab, var(--color-6), transparent);
}