<section>
    <div class="container mt-3">
        <section id="#dashboard">
        
                <div class="row gx-5  justify-content-center py-4 px-2 bg-white border shadow-lg rounded">
                    <div class="col d-flex justify-content-between">
                        <div class="">
                            <p role="button" class="h6" [routerLink]='["/user"]'> <fa-icon  class="fs-5" role="button" [icon]="icons.faRobot" style="color: #81f28e;"></fa-icon><span class="ms-2 ">hello {{name}}</span><p>
                               
                        </div>
        
                        <div class="">
                          <button class="add btn p-1 px-2 h6" (click)="logout()">Logout</button>
                        </div>
                    </div>
        
                    <div class="d-flex justify-content-around gap-1 py-2 mb-3">
                        <div [ngStyle]="" class="butget mt-2 bg-white  text-dark shadow-sm border p-4 rounded">
                            <div class="col gx-5 d-flex justify-content-around gap-3">
                                <div class="icon">
                                    <fa-icon  class=" fs-4" role="button" [icon]="icons.faHandHoldingDroplet" style="color: #24e5ff;"></fa-icon>
                                </div> 
                                <div class="content">
                                    <span class="text-info">₹ {{(incomeTotal-expenseTotal)/2}}</span>
                                    <p>budget</p>
                                </div> 
                            </div>
        
                        </div>
                        <div class="expenses  mt-2  bg-white  text-dark shadow-sm border p-4 rounded ">
        
                            <div class="col d-flex justify-content-around gap-3">
                                <div class="icon">
                                    <fa-icon  class=" fs-4" role="button" [icon]="icons.faHandHoldingDollar" style="color: #24e5ff;"></fa-icon>
                                </div> 
                                <div >
                                    <span class="expense">₹ {{expenseTotal}}</span>
                                    <p class="h6">Expenses</p>
                                </div> 
                            </div>
                        </div>
                        <div class="income  mt-2  bg-white text-dark shadow-sm border p-4 rounded ">
                            <div class="col d-flex justify-content-around gap-3">
                                <div class="icon">
                                    <fa-icon  class=" fs-4" role="button" [icon]="icons.faMoneyCheck" style="color: #24e5ff;"></fa-icon>
                                </div> 
                                <div class="content">
                                    <span>₹ {{incomeTotal-expenseTotal}}</span>
                                    <p>Balance</p>
                                </div> 
                            </div>
                        </div>
                    </div>
        
                    <!-- for Date -->
                    <form [formGroup]="dateForm" class="needs-validation" novalidate>
                        <div class="row gutter-5 mb-3 justify-content-center align-items-center">
                            <!-- From Date -->
                            <div class="col-md-3 text-center">
                                <label for="startDate" class="form-label">From Date</label>
                                <input type="date" id="startDate" class="form-control" formControlName="start"
                                    [ngClass]="{'is-invalid': (dateForm.controls.start.touched || isTrySubmit) && dateForm.controls.start.errors}">
                                <div class="invalid-feedback" *ngIf="(dateForm.controls.start.touched || isTrySubmit) && dateForm.controls.start.errors">
                                    <div *ngIf="dateForm.controls.start.errors['required']">From date is required.</div>
                                </div>
                            </div>
                    
                            <!-- To Date -->
                            <div class="col-md-3 text-center">
                                <label for="endDate" class="form-label">To Date</label>
                                <input type="date" id="endDate" class="form-control" formControlName="end"
                                    [ngClass]="{'is-invalid': (dateForm.controls.end.touched || isTrySubmit) && dateForm.controls.end.errors}">
                                <div class="invalid-feedback" *ngIf="(dateForm.controls.end.touched || isTrySubmit) && dateForm.controls.end.errors">
                                    <div *ngIf="dateForm.controls.end.errors['required']">To date is required.</div>
                                </div>
                            </div>
                        </div>
                    
                        <!-- Search Button -->
                        <div class="row justify-content-center mt-4 text-center">
                            <div><button type="button" class="search btn shadow-lg" (click)="search()">Search</button></div>
                            
                        </div>
                    </form>
                    
        
                    <!--for Expenses -->
        
                    <div class="py-2 mt-2 gx-5 row gap-2 justify-content-between ">
                        <div class="col d-flex justify-content-evenly m-0 ">
                            <div class="col-md-6 text-center m-2 bg-light p-2 rounded">
                                <h6 class="section-heading">Category Wise Expenses</h6>
                               
                                    <div class="row justify-content-around">
                                      <div *ngFor="let r of filteredData" class="col-md-6  mb-4 d-flex">
                                        <div class="card shadow border-0 rounded">
                                          <div class="card-body d-flex flex-column justify-content-center p-4">
                                            <div class="d-flex justify-content-evenly align-items-center mb-2">
                                              <h6 class="card-title mb-0">{{ r.category }}</h6>
                                              <span class="badge bg-light"><small>₹</small> {{ r.amount }}</span>
                                            </div>
                                            <div class="text-muted">{{ r.date | dateAgo }}</div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                 
                                  
                            </div>
                            <div class="col-md-6 text-center m-2 bg-light p-2 rounded">
                                <h6 class="text-center">Monthly & Weekly Wise Expenses</h6>
                                <div class="row justify-content-around">
                                    <div  *ngIf="monthlyTotal>0" class=" border-0 col-md-6 mb-4 d-flex">
                                      <div class="card p-3 shadow border-0 rounded">
                                        <div class="col d-flex justify-content-around align-items-center mb-2">
                                            <h6 class="card-title mb-0">{{"Total Expense"|titlecase}}</h6>
                                            <span class="badge bg-light"><small>₹</small> {{ monthlyTotal }}</span>
                                        </div>
                                        <div class="h6"> Categories: <span class="text-muted gap-1">{{ categoryValues }}</span></div>
                                     
                                        <div class="card-footer"><small class=" bg-light">{{dateForm.value.start|date:'MMM d,y'}}</small> <small> TO </small> <small class="bg-light"> {{dateForm.value.end|date:'MMM d,y'}}</small></div>
                                      </div>
                                    </div>
                                  </div>
                            </div>
                        </div>
                        
                    </div>
                   
                </div>
        
        </section>
        </div>
</section>



