<div class="container">
    <!-- class="bg-light rounded" -->
    <section id="contact" class="">
        <div class="row justify-content-center py-3">
            <div class="row">
                <div class="col-md d-flex justify-content-between">
                    <span class="px-3 h6 btn bg-white shadow text-center"><fa-icon class="fs-4" style="color: #5cbebd;" [icon]="icons.faUserNinja"></fa-icon><span class="ms-2"></span></span>
                    <span class="px-3 h6 btn bg-white shadow "[routerLink]='["/user"]'><fa-icon class="fs-6" style="color: #5cbebd;" [icon]="icons.faBackward"></fa-icon><span class="ms-2" >go to user</span></span>
                  
                </div>
              </div>
            <div class="col-md-8 m-1 shadow-lg bg-white border px-3 rounded py-4 ">
                <div class="text-center">
                    <h4 class="py-3" style="color: #5cbebd;">Financial Alchemist</h4>
                    <p class="fs-4 h5 py-2">"Save a little, gain a lot.
                        Small changes lead to big savings."</p>
                </div>
                <!-- user card start -->
                 <div class="row justify-content-center gap-3 ">
                <div class="userView col-md-5 shadow py-4 px-2 text-center">
          
                    <p>
                        <img src="../../assets/img5.jpg" class="image rounded-circle" alt="user">
                    </p>
                    
                   
                        <p class="h-6">Praveen kumar K</p>
               
                    <p>CEO, Founder of Z-Track</p>
                    <button class="accept btn">Mail Request</button>
                    <div class="">
                        <span class="ignore"><a href="">Ignore Request</a></span>
                    </div>
                  
           
                </div>
                <!-- under section start -->
              
                <!-- under section end -->
            </div>
                <!-- user card end -->
                 <div class="py-3">
                    <hr class="w-100">
                 </div>
                <div class="row justify-content-between " style="cursor: pointer;">
                    <div class="col-md-6 m-4">
                        <p class="h5 text-secondary">
                            <span style="text-align: justify;">
                                <h6>About Us</h6>
                                Welcome to <b>"Financial Alchemist: The Chronicles of Budgeting"</b>
                                In a world where managing finances can be as complex as a mecha battle or as intricate as a magical spell, "Financial Alchemist: The Chronicles of Budgeting" emerges as your ultimate companion in financial mastery. Our mission is to empower individuals and businesses with a robust and intuitive tool for managing income, expenses, and budgets with ease and precision.
                              
                            </span>
                        </p>
                    </div>

                    <div class="image-me col-md-4">
                       
                            <img src="../../assets/show.png" class="w-100 " alt="owner">
                       
                    </div>
               
                </div>
            </div>
            <!-- about  -->
            <div class="col-md-8 shadow-lg bg-white border px-3 rounded py-3 ">
                
            
                <div class="text-center">
                    <p class="h6"><span class="text-secondary"> No longer want to receive these email?</span><span role="button"> You can Unsubscribe here! </span></p>
                </div>  
             
            </div>
            <!-- about  -->
        </div>
    </section>
</div>
